p{
   height: 300px;
   width: 300px; 
   overflow: hidden;
   overflow: auto;
   overflow: scroll;
}

div{
    height: 100px;
    width: 100px; 
    overflow: hidden;
    overflow: auto;
    overflow: scroll;
}
